.header {
  width: 100%;
  padding: 45px 0 41px;
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
  margin: 0 auto 40px;
}

@media (max-width: 930px) {
  .header {
    margin-bottom: 42px;
    padding: 28px 0 32px;
  }
}
